*.iml
.gradle
/local.properties
/.idea/caches
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/build
/app/build
.DS_Store
*.apk
*.ap_
.cxx
capture.png
hs_err_pid*.log
replay_pid*.log
/scratch/
*.log
*.txt
